* {
    font-family: sans-serif;
}

.container {
    display: flex;
    flex-direction: row;
    align-content: space-between;
    align-items: flex-start;
}

.container h2 {
    position: sticky;
}

.tcBox .descBox {
    /* border-right: 1px solid #000; */
    z-index: 5;
}

.descBox {
    padding: 15px;
}

.descBox div {
    padding: 7px;
}

#timecodes div {
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
}

#audioBox #liveBox #asyncBox {
    width: 25%;
}

#audioBox {
    position: absolute;
    left: 10%;
}

#liveBox {
    position: absolute;
    left: 37%;
}

#asyncBox {
    position: absolute;
    left: 67%;
}

#jumpBox {
    position: absolute;
    z-index: 100;
    right: 15px;
    background-color: white;
}
