.container {
    display: flex;
    flex-direction: row;
    align-content: space-between;
    align-items: flex-start;
}

.descBox {
    padding: 0px 15px;
    border-right: 1px solid #000;
}

#timecodes div {
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
}

.tcBox .descBox {
    border-right: 1px solid #000;
}

.descBox div {
    background-color: aqua;
    padding: 7px;
    border: 1px solid #000;
}

* {
    font-family: sans-serif;
}
